<button>
  <img
    src="https://static-00.iconduck.com/assets.00/email-icon-256x203-zt992cix.png"
    alt="Email to-do list"
    width="25px"
  />
</button>
<!-- TODO make it so that the form below is displayed as a pop-up when the email button is clicked -->
<form [(submit)="emailMessage()" ]>
  <label for="emailAddress">Email address:</label>
  <input
    type="emailAddress"
    name="emailAddress"
    id="emailAddress"
    required
    [ngModel]="emailAddress"
  />
  <button type="submit">Send</button>
</form>
