:root {
  /* TODO Assemble color palette */
  --background-color: #f8f5ff;
  --scrollbar-background-color: #d4d4d4;
  --generic-text-color: #444;
  --detailed-text-color: #888;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --high-contrast-shadow-color: rgba(85, 80, 80, 0.3);
  --main-accent-color: #6a5acd;
  --high-contrast-accent-color: white;
  --input-area-color: #ccc;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

body {
  font-family: "Fraunces", serif;
  background-color: var(--background-color);
  color: var(--generic-text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px 20px;
}

.fraunces-font {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--main-accent-color);
  margin-bottom: 16px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
  border-radius: 10px;
}
