html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
body {
  font-family: "Fraunces", serif;
  background-color: #f8f5ff;
  color: #444;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.fraunces-font {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 10px;
}
