/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-image: radial-gradient(white, bisque);
}
body {
  margin: 0;
  font-family: "Fraunces", serif;
}

.fraunces-font {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

button:hover {
  cursor: pointer;
}
