<div class="to-do-list-container">
  <h2>TO-DO</h2>
  <ng-content></ng-content>

  <section class="to-do-list-section">
    <span class="task-section">
      <ul>
        <!-- TODO make sure that the task() below is set up as an array so it becomes iterable -->
        @for (task of task(); track task; let i = $index) {
        <li>
          <mat-checkbox
            class="list-margin"
            [checked]="task().completed"
            [indeterminate]="partiallyComplete()"
            (change)="update($event.checked)"
          >
            {{ task().name }}
          </mat-checkbox>
          <button (click)="deleteTask(this.task)">Delete</button>
        </li>
        }
      </ul>
    </span>
    <span class="subtask-section">
      <ul>
        @for (subtask of task().subtasks; track subtask; let i = $index) {
        <li>
          <mat-checkbox
            [checked]="subtask.completed"
            (change)="update($event.checked, i)"
          >
            {{ subtask.name }}
          </mat-checkbox>
          <button>Delete</button>
          <!-- Hook this button up -->
        </li>
        }
      </ul>
    </span>
  </section>
</div>
