<div class="to-do-list-container">
  <h2>TO-DO</h2>
  <ng-content select="app-share-to-do-list"></ng-content>
  <ng-content select="app-task-form"></ng-content>
  <section class="to-do-list-section">
    <span class="task-section">
      @for (task of toDoList(); track task.name; let i = $index) {
      <li>
        <!-- TODO Make nested task completion work again -->
        <mat-checkbox
          [checked]="task.completed"
          [indeterminate]="partiallyComplete()"
          (change)="update($event.checked,i)"
        >
          {{ task.name }}
          <button (click)="onToggleDetails()">🔻</button>
          <button (click)="tasksService.deleteTask()">🗑️</button>
        </mat-checkbox>
        @if (showDetails()) {
          <div>{{task.description}}</div>
          }
          @for (subtask of task.subtasks; track subtask.subName; let i = $index) {
          <li>
            <mat-checkbox
              [checked]="subtask.subCompleted"
              (change)="update($event.checked, i)"
              class="list-margin"
            >
              {{ subtask.subName }}  <button (click)="tasksService.deleteSubtask()">🗑️</button>
            </mat-checkbox>
          </li>
          }@empty{No subtasks available.}
      </li>
      }@empty{No tasks available.}
    </span>
  </section>
</div>
<!-- TODO Make it so that completed tasks are displayed crossed out -->
