<form (submit)="addTask()" #form>
  <div class="new-task-header">
    <label for="taskName">New task:</label>
    <input
      id="taskName"
      name="name"
      [(ngModel)]="newTask.name"
      placeholder="task name"
      required
    />
    <button type="button" (click)="tasksService.onToggleDetails()">✏️</button>
  </div>
  @if (tasksService.showFormDetails()) {
  <div>
    <label for="taskDescription">Description:</label>
    <textarea
      id="taskDescription"
      name="description"
      [(ngModel)]="newTask.description"
      placeholder="describe task"
      rows="3"
    ></textarea>
  </div>
  <div>
    <label for="taskDueDate">Due on:</label>
    <input
      type="date"
      id="taskDueDate"
      name="dueDate"
      [(ngModel)]="newTask.dueDate"
    />
  </div>
  }
  <button type="submit">Save</button>
</form>
