<form (submit)="addTask(); $event.preventDefault()" #form>
  <div>
    <label for="taskName">Task:</label>
    <input
      id="taskName"
      name="name"
      [(ngModel)]="newTask.name"
      placeholder="task name"
      required
    />
  </div>
  <div>
    <label for="taskDescription">Description:</label>
    <textarea
      id="taskDescription"
      name="description"
      [(ngModel)]="newTask.description"
      placeholder="describe task"
      rows="3"
    ></textarea>
  </div>
  <div>
    <label for="taskDueDate">Due on:</label>
    <input
      type="date"
      id="taskDueDate"
      name="dueDate"
      [(ngModel)]="newTask.dueDate"
    />
  </div>
  <div>
    <label for="subtasks">Subtasks:</label>
    <input
      id="subtasks"
      name="subtasks"
      [(ngModel)]="newTask.subtasks"
      placeholder="any subtasks?"
    />
  </div>
  <button type="submit">Save</button>
</form>
