form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
}

label {
  font-weight: 500;
  color: var(--main-accent-color);
  margin-bottom: 4px;
}

.new-task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.new-task-header button {
  padding: 5px;
  margin: 5px;
}

input,
textarea {
  padding: 8px;
  font-size: 0.95rem;
  border: 1px solid var(--input-area-color);
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: var(--main-accent-color);
  color: var(--high-contrast-accent-color);
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: var(--main-accent-color);
}
