header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  padding: 10px;
  text-align: start;
  box-shadow: 0 2px 4px var(--shadow-color);
  font-weight: 600;
  color: var(--main-accent-color);
  margin-bottom: 20px;
  z-index: 1000;
}
